{% extends "core/plantilla.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-3">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if prod.imagen %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ prod.imagen.url }}" /></div>
            {% else %}
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core/imagenes/nohayimagen.jpg' %}" alt="{{ prod.nombre }}" /></div>
            {% endif %}
            <div class="col-md-6">
                <div class="small mb-1">Codigo de producto: {{ prod.id }}</div>
                <h1 class="display-5 fw-bolder">{{ prod.nombre }}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$ {{ producto.precio }}</span> -->
                    <span>$ {{ prod.precio }} </span>
                </div>
                <p class="lead">{{ prod.descripcion }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> {% if user.is_authenticated%}
                    <a href="{% url 'addcart' prod.id %}" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="btn btn-success"></i> Agregar al Carrito
                    </a> {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}